/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /*background: linear-gradient(135deg, #1b3b3a, #2d4f4b, #3c7a68, #a7d3a6);*/
    
    background: linear-gradient(135deg, #292e3b, #1b333b,  #021a22);

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
