table {
    width: 100%;
    border-collapse: collapse;
    background-color: #051d25;
    border: white;
    color: white;
    
} 
th{
    padding: 8px;
    text-align: left;
    border-color: white;
    color: white;
}

td {
    padding: 8px;
    text-align: left;
    border-color: white;
    color: white;
}
th {
    background-color: #051d25;
    border-color: white;
    color: white;
}
  